body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INTRODUCTION PAGE */
.navbar-margin{
    margin: 0 10vw 0 10vw;
}
.navbar{
    width: 1000px;
    margin: 20px auto 0 auto;
    justify-content:space-between;
    align-items:center;
    align-content: center;
    display: flex;
    border:1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    padding: 0 30px 0 30px;
    background-color: rgba(211, 211, 211, 0.059);
}

.links-navbar{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.links-navbar p{
    text-decoration: underline;
    color: lightgrey;
}

.contact-navbar p{
    border:1px solid orange;
    background-color: rgba(244, 167, 24, 0.812);
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

.Intro-page{
    text-align: center;
    padding:100px 100px 0 100px;
    margin: 20px 100px 0 100px;
    font-size: small; 
    height: 500px;
}
.process{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 5px;
    display: inline;
    
}
.Intro-page img{
    width: 10px;
    height: 10px;
    
}
.Intro-page h1{
    font-size:65px;
    color: white;
    margin-bottom: 0;
}
#bw_color-text{
    color: color-mix(in srgb, white 90%, black 45%);
}
.Intro-page p{
    color: color-mix(in srgb, white 90%, black 45%);
    font-size:20px;
    text-align: center;
    margin-top: 0;
}
.start_project-box{
    background: orange;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    font-weight: 500;
}
.view_project-box{
    margin-left: 0;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* 2ND PAGE -BUILDBOT MISSIONS AND ACHIEVEMENTS */
.mission{
    padding: 30px 0 0 100px;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;

}
.mission h5{
    border: 1pt solid yellow;
    display: inline;
    padding: 8px;
    background-color: color-mix(in srgb, darkblue 60%, black 100%);
    border-radius: 22px;
    color: orange;
}
.flag{
    width: 9px;
    height: 9px;
    padding: 3px;
    margin-top: 3px;
    background-color: darkorange;
    border-radius: 50%;
    color: black;
    display: inline-block;
}
.mission h2{
    font-size: 32px;
}
.mission-description{
    color: color-mix(in srgb, white 90%, black 45%);
    font-size:20px;
    line-height: 4lvh;
}

.mission-list{
    border:1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding:7px ;
    color: white;
    display: flex;
    gap: 10px;
    background: linear-gradient(135deg, #00192d2d,rgb(0, 0, 0));
    position: relative;
}
.mission-list-outcome{
    border-radius: 20px;
    padding:7px;
    align-items:center;
    justify-content:space-between;
    display: inline-flex;
    background: linear-gradient(90deg, #050608, #0b0f12, #11161a);
    border: 1px solid rgba(31,227,194,0.3);
    box-shadow: 0 0 20px rgba(31,227,194,0.15);
    color: #dfeeee;
}

#Outcome{
    text-align:left;
    border-radius: 25px;
    padding: 4px 10px 4px 15px;
    margin: 8px;
    display: inline;
    color:#1fe3c2;
    background: rgba(31,227,194,0.4);
    border:1px solid rgba(31,227,194,0.4);
}

.achievements{
  display:flex;
  padding:50px;
  color:white;
  background: linear-gradient(
        90deg,
        rgba(107, 90, 58, 0.1) 0%,
        rgba(42, 36, 24, 0.6) 0%,
        #000 100%);
  min-height :650px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.stats{
    padding: 30px 0 0 120px;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}
.card-1{
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    background: linear-gradient(135deg, #e6c97832,rgb(0, 0, 0));
}   
.row-1{
    display: flex;
    gap: 25px;
}
.row-2{
    display: flex;
    gap: 25px;
}
.card{
    border:1px solid rgba(255, 255, 255, 0.3);
    display: inline;
    border-radius: 20px;
    padding: 20px;
    width: 100%; 
 }


 /* 3RD PAGE - SERVICES and PRODUCTS PAGE*/
.services{
    text-align: center;
    padding-top: 200px;
}
.service-names{
  display: grid;
  column-gap: 15px;
  row-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, 400px);
}

.service-name{
    border:1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 15px;
}

/* PAGE-4 BUILDBOT PRODUCTS */
.products-description{
    text-align: center;
    padding-top: 200px;
}

.products-navbar{
    width: 300px;
    margin: 0 auto;
    justify-content:space-between;
    align-items:center;
    align-content: center;
    display: flex;
    border:1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    padding: 0 6px 0 6px;
}
.all-Products{
    border :1px solid orange;
    background: orange;
    border-left-width: 7px;
    border-right-width: 7px;
    border-radius: 10px;
}
.product-images{
  display: grid;
  grid-template-columns: repeat(2,400px);
  gap: 90px;
  justify-content: center;
  row-gap: 20px;
  padding-bottom: 200px;
}

.img-box{
  position: relative;
  width: 470px;
  height: 300px;
  border: 1px solid rgb(6, 101, 132);
  border-radius: 30px;
}

.img-box img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.prod{
  position: absolute;
  color: white;
  padding: 6px 12px;
}

.top-right-arrow{
    text-align: center;
    right:10px;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.name{
  bottom: 65px;
  left: 15px;
  border:1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  font-size: 10px;
  background-color: rgb(0, 12, 16);
  font-weight: bold;
}

.heading{
  bottom: 30px;
  left: 2px;
  font-weight: bolder;
}

.little-description{
  bottom: 10px;
  left: 0px;
  font-size: 11px;
  max-width: 500px;
  color: whitesmoke;
}

.overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
}


/* PAGE 5 BUILDBOT CERTIFICATES and EXPERTISES*/
.certificate-box{
    padding-top: 30px;
    padding-bottom: 50px;
    background: linear-gradient(
        90deg,
        rgba(107, 90, 58, 0.1) 0%,
        rgba(42, 36, 24, 0.6) 0%,
        #000 100%);
    text-align: center;
}
.certificate-box h2{
    color: orange;
}

.certificate-description{
    padding: 0 320px 0 320px;
    line-height: 20px;
}
.certificate-names{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.certificate-name{
    border:1px solid rgba(255, 255, 255, 0.3);
    padding: 3px 12px 3px 12px ;
    border-radius: 25px;
    background-color: #00171e;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: inline-flex;
    gap: 5px;
    font-weight:550;
}

.certificates-icons img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.certificates-bottom-description{
    text-align: center;
    padding-bottom: 25px;
}
.certificates-bottom-description pre{
    font-size: 20px;
    color: color-mix(in srgb, white 90%, black 45%);
    font-family: 'Courier New', Courier, monospace;
}
.expertise-Technologies{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

.expertise-Technologies span{
    display: flex
}
.technology{
  display: flex;
  flex-direction: column;  
  align-items: center;
  gap: 8px;
}

.technology span{
  color: #ccc;
  font-size: 14px;
}

/* PAGE-6 KEY PROFILES */
.leadership{
    padding-top: 200px;
    text-align: center;
}
.profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 30px;
    padding: 40px 100px 100px 100px;
}
.profile-card{
    text-align: center;
    border:1px solid rgba(255, 255, 255, 0.3);
    padding: 30px 10px 0 10px;
    margin: 0;
    width: 340px;
    min-height: 450px;
    display: inline-block;
    border-radius: 30px;
}

.profile-work{
    font-size: medium;
    color: color-mix(in srgb, white 90%, black 45%);
    padding: 0 20px 0 20px;
    text-align: center;
    display: flex;
    line-height: 20px;
}
.profile-card .fa-brands{
    border:1px solid rgb(132, 132, 174);
    border-radius: 50%;
    background-color: rgba(130, 130, 246,0.3);
    align-items: center;
    padding: 10px;
    margin: 0 10px 15px 0;
}
.profile-card .fa-solid{
    border:1px solid rgb(132, 132, 174);
    border-radius: 50%;
    background-color: rgba(130, 130, 246,0.3);
    align-items: center;
    padding: 10px;
    margin: 0 10px 15px 0;
}

/* PAGE 7 -  CTO SHEDULE*/ 
.CTO-shedule{
    padding: 80px 0 120px 0;
    background: linear-gradient(
        90deg,
        rgba(107, 90, 58, 0.1) 0%,
        rgba(42, 36, 24, 0.6) 0%,
        rgba(6, 22, 20, 0.733) 100%);
}
.CTO-description{
    text-align: center;
    padding: 0 400px 0 400px;
    color: color-mix(in srgb, white 90%, black 45%);
}
.CTO-box{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    gap: 30px;
    border:1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}  
.bullet-border{
    color: orange;
    border: 1px solid rgb(140, 140, 208);
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}
.shedule{
    margin-right: 20px;
    border: 1px solid rgb(242, 180, 66);
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(242, 180, 66);
    font-weight: 500;
}
.col-2{
    display: flex;
    border:1px solid rgba(141, 143, 208, 0.3);
    border-radius: 25px;
    padding: 20px;
    width: 1000px;
    height: 400px;
    background-color: rgba(128, 128, 128, 0.098);
    position: relative;
}

.col-2-row-1{
    display: inline-flex;
    position: absolute;
    gap: 300px;
    top: 0px;
    justify-content: space-between;
}

.col-2-row-2{
    display: grid;
    grid-template-columns: repeat(7,30px);
    margin-top: 40px;
}
.days{
    display:inline-flex;
    justify-content: space-between;
    gap: 55px;
    color: rgba(211, 211, 211, 0.55);
}
.dates{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(7,30px);
    justify-content: space-around;
    gap: 37px;
    position: absolute;
    left: 20px;
}
.muted{
    color: rgba(211, 211, 211, 0.55);
}
.active{
    border: 1px solid goldenrod;
    border-radius: 5px;
    background-color: rgb(142, 129, 59);
    text-align: center;
}

.available-times{
    display: inline-flex;
    position: absolute;
    left: 7px;
    bottom: 40px;
}
.times{
    display: flex;
    gap: 20px;
    justify-content: left;
    position: absolute;
    bottom: 0;
    left: 7px;
}

.selected{
    border: 1px solid green;
    color: green;
    border-radius: 20px;
    padding: 5px;
}
.unselected{
    border:1px solid rgba(141, 143, 208, 0.3);
    border-radius: 20px;
    padding: 5px;

}

/* PAGE 8 - CAREERS */
.careers{
    display: flex;
    gap: 80px;
    min-height :650px;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding:100px
}
.careers-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.row-span{
    grid-row: span 2;
}
.careers-image img{
    border-radius: 15px;
}
ul{
    color: color-mix(in srgb, white 90%, black 45%);
    line-height: 23px;   
    padding-left: 1em;
    margin-left: 0;
}
.insights{
    padding: 30px 0 30px 0;
    margin-bottom: 100px;
}
.insights-description h1{
    color: white;
    text-align: center;
}
.insights-websites{
    display: flex;
    gap: 1px;
    justify-content: space-evenly;
}
.web-text-color{
    color: rgba(211, 211, 211, 0.604);
}


/* PAGE 9 - CONTACT */
footer{
    position: relative;
    background-color: #0E1012;
    padding: 40px 10px 100px 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    flex-shrink: 0;
}
.contact{
    width: 25vw;
}
.footer-links{
    position: absolute;
    top: 5vw;
    right: 3vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    justify-content: flex-end;
    column-gap: 70px;
    color: rgba(211, 211, 211, 0.836);
}

.footer-links p{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.copyright_and_social-media{
    position: absolute;
    bottom: 2px;
    left: 3vw;
}
.footer-bottom-line-content{
    display: flex;
    justify-content: space-between;
}
.footer-bottom-line-icons{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: lightgrey;
}